<!DOCTYPE html>
<html>
  {% include head.html %}
  <body style="background-image: url('http://imgur.com/lNgfBZn.jpg');
    background-repeat: no-repeat;
    background-position: 0px 77%;
    background-size: 14% auto;
        background-attachment: fixed;">
    <div class="page-content">
      <div class="container">
        <div class="three columns">
          {% include header.html %}
        </div>

        <div class="nine columns" style="z-index:100;">
          <div class="wrapper">
            {{ content }}
          </div>
        </div>
      </div>
      {% include footer.html %} 
    </div>
  </body>
</html>
